<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025987734651-ii8ajc9jmuqshi0p2t8b5ocg8vbecrn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025987734651-ii8ajc9jmuqshi0p2t8b5ocg8vbecrn3</string>
	<key>API_KEY</key>
	<string>AIzaSyB7G6n-Eg_LDCDKTsEfrGGrCfEYCpYhw4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1025987734651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeintelx.dateroulette</string>
	<key>PROJECT_ID</key>
	<string>date-roulette-a7ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>date-roulette-a7ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025987734651:ios:86e4ee3b9c093d593d06de</string>
</dict>
</plist>